@using BIPIT09.Models
@model List<View_3>

<table class="table mt-4">
    @{
        <thead>
            <td>Shipping ID</td>
            <td>Client ID</td>
            <td>Client Fullname</td>
            <td>Service title</td>
            <td>Service cost</td>
            <td>Shipping Date</td>
        </thead>


        foreach (var item in Model)
        {
            <tr>
                <td scope="col">@item.shipping_id</td>
                <td scope="col">@item.client_id</td>
                <td scope="col">@item.client_fullname</td>
                <td scope="col">@item.service_title</td>
                <td scope="col">@item.service_cost</td>
                <td scope="col">@item.shipping_date</td>
            </tr>
        }
    }
</table>
